*{
	font-family: Arial, sans-serif;
}
body {
	background-image: linear-gradient(to bottom right, blue, yellow);
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.text h1 {
	text-align: center;
	color: navy;
	font-weight: 700;
	font-size: 4em;
	margin-bottom: 0;
}
.text p {
	font-size: 2em;
}
.text a {
	font-size: 12px;
	text-decoration: none;
	color: white;
}
